@*@model ProductCreateViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-12">
            <h3>Product Page</h3>
        </div>
    </div>
    <div class="row">
        <div class="card mx-auto">
            <div class="card-header bg-dark text-light">
                Add new product
            </div>
            <div class="card-body">
                <div class="container">
                    <form asp-controller="Product" asp-action="Create" method="post">

                        <span class="row mt-2" asp-validation-summary="ModelOnly"></span>

                        <div class="row mb-2">
                            <div class="col col-md-8">
                                <label asp-for="Name">Name of the Product</label>
                                <input asp-for="Name" class="form-control" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger" />
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <button type="submit" class="btn btn-dark">Add new Product and Continue</button>
                                
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col col-md">
            <div class="col col-md mb-2 btn btn-dark" type="button">
                @Html.ActionLink("Back to Product Details Page", "Details", "Product")
            </div>
        </div>
    </div>
</div>*@




@model ProductCreateViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col col-md-3">
            <div class="container">

                <div class="row">
                    <div class="col col-md mt-3">
                        <h3 class="text-center">List of products</h3>
                        <ul class="list-group">
                            @foreach (var item in Model.Products)
                            {
                                <li class="list-group-item"> @item.Name</li>


                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md">
            <div class="container">
                <div class="row m-3">
                    <h3>Hamper's products</h3>
                </div>
                <div class="row">
                    <div class="col col-md text-center">
                        <form asp-controller="Product" asp-action="Create" method="post">
                            <span class="row mt-2" asp-validation-summary="ModelOnly"></span>
                            <div class="row mb-2 ">
                                <div class="col col-md-9 mx-auto">
                                    <label class="font-weight-bold" asp-for="Name">Name of the product</label>
                                    <input asp-for="Name" class="form-control text-center" placeholder="Name of the product" />
                                    <span asp-validation-for="Name" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col col-md">
                                    <button type="submit" class="btn btn-warning font-weight-bold">Add new product and Continue</button>

                                </div>
                            </div>
                        </form>
                    </div>


                </div>

            </div>

        </div>

    </div>


</div>
