
<div class="container">
	<div class="row mt-4 mb-4">
		<div class="col col-md-12 text-center ">
			<h4>You Have Been Successfully Registered!</h4>
			<p>Thank you for registering in our online store.</p>
		</div>
	</div>
	<div class="row">
		<a href="~/Home/Index" class="col-sm-5 btn btn-warning mx-auto">Go back to Homepage</a>
	</div>
</div>

