@model CategoryDetailsViewModel

<div class="container">
    <div class="row">
        <div class="col-sm mt-3">
            <h3>List of categories</h3>
        </div>
    </div>
    <div class="row">


        <div class="col-sm-3 mb-2 btn btn-warning font-weight-bold text-dark">
            @Html.ActionLink("Add a category", "Create", "Category")
        </div>

    </div>

    <div class="row table-responsive-md font-weight-bold">
        <table class="table table-borderless">
            <thead class="thead">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categories)
                {
                    <tr>
                        <td class="mt-2"> @item.Name</td>
                        <td class="btn btn-warning font-weight-bold text-dark mt-2 mr-2">@Html.ActionLink("Edit category name", "Edit", "Category", new { id = item.CategoryId })</td>
                        <td class="btn btn-danger font-weight-bold text-light mt-2">@Html.ActionLink("Delete category", "Delete", "Category", new { id = item.CategoryId })</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>
