body {
	background-color: ##e6e2e2;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: black;
	height: 100%;
}

html {
	height: 100%;
}


header {
	/*background-image: url('../images/1.jpg');
	/*background-image: url('../images/bg5.jpg');*/
	height: 100%;
	/* Center and scale the image nicely */
	/*background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: white;
	color: black !important;
	font-weight: bold;
}

#topButton {
	position: fixed;
	border: none;
	outline: none;
	overflow: hidden;
	cursor: pointer
}

.footer {
	/*background-image: url('../images/1.jpg');*/
	/*height: 100%;*/
	/* Center and scale the image nicely */
	/*background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #e6e2e2;
	color: black !important;
	font-weight: bold;
	font-size: 10px;
	
	
}


.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
canvas{
    background-color: brown;
}

.img {
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100px;
    object-fit: cover
}

#grandeLogo{
 
}

.grande{
    color:crimson;
    font-size: 34px;
}

#homeIndexArticleHeader{
    color: brown;
    text-align: center;
}


#asideHomeIndex {
    background-image: url('../imagesapp/bgimageforsub.jpg');
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

nav{
    background-color: brown;
	
}

#navbarNavDropdown:hover

#searchBar {
	background-color: brown;
}

#loginLogoutSection{
	background-color: #fcc888;
}

a{
	color: black;
	text-decoration: none;
}

#back-to-top {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 9999;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 30px;
	background: #f5f5f5;
	color: #444;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	text-decoration: none;
	transition: opacity 0.2s ease-out;
	opacity: 0;
}

#back-to-top:hover {
		background: #e9ebec;
	}

#back-to-top.show {
		opacity: 1;
	}

#content {
	height: 2000px;
}

