@model HomeHamperListViewModel

<div class="container-fluid">
	<div class="row">
		<div class="col-sm bg-light text-black-50">
			<p class="text-center  m-2">
				Gift Hampers is Celebrating first Year in Australia.
			</p>
		</div>
	</div>
	<div class="container">
		<div class="row mt-2 mb-2">
			@foreach (var item in Model.Hampers)
			{
				if (item.Discontinue == false)
				{
				<div class="col-sm-4 mb-2">
					<div class="w-100 card" style="width: 18rem;">
						<img src="~/imagesApp/@item.Image" class="card-img-top" alt="HamperImage">
						<div class="card-body">
							<h5 class="card-title text-center">@item.Name</h5>
								@if (User.Identity.IsAuthenticated && User.IsInRole("Customer") ||
								User.Identity.IsAuthenticated && User.IsInRole("Admin"))
								{
									<a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.HamperId" 
									class="btn btn-info d-flex justify-content-center">Add to Cart</a>
								}
						</div>
					</div>
				</div>
				}
			}
		</div>
	</div>
	

</div>
