@model HomeHamperListViewModel

<div class="container-fluid">
	<div class="row">
		<div class="col-sm bg-light text-black-50">
			<p class="text-center  m-2">
				Gift Hampers is Celebrating first Year in Australia.
			</p>
		</div>
	</div>
	<div class="container">
	


		<div class="row mt-2">
			@foreach (var item in Model.Hampers)
			{
				<div class="col-sm-4">
					<div class="w-100 card" style="width: 18rem;">
						<img src="~/imagesApp/@item.Image" class="card-img-top" alt="HamperImage">
						<div class="card-body">
							<h5 class="card-title text-center">@item.Name</h5>
							<a href="#" class="btn btn-primary align-items-center">Go somewhere</a>
						</div>
					</div>
				</div>
			}



		</div>
		
		
	</div>
	

</div>
