<div class="container">
    <div class="row">
        <div class="col col-md-3">
          
            <img class="w-100 img-fluid m-1" src="~/imagesApp/hamperIndex2.jpg" />
            <img class="w-100 img-fluid m-1" src="~/imagesApp/hamperIndex3.jpg" />
            <img class="w-100 img-fluid m-1" src="~/imagesApp/hamperIndex2.jpg" />
        </div>
        <div class="col col-md border border-dark">
            <h3>PRIVACY POLICY</h3>
            <h3>OUR CHRISTMAS HAMPERS ARE DELIVERED ON TIME, EVERY TIME!</h3>
            <p>
                Hampers with Bite are Australia's Christmas Hamper specialist. We have been the number one hamper company 3 years in a row.
                Hampers at Christmas time are a cost effective way to reward Staff and Clients.

                Christmas is just around the corner and Hampers are the perfect gift. Check at out our range of speciality Christmas Hampers now!
            <p>
                This privacy policy sets out how Hampers With Bite uses and protects any information that you give Hampers With Bite when you use this website. Hampers With Bite is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. Hampers With Bite may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.
            </p>
        </div>
    </div>

</div>
