<div class="container mt-3">
	<div class="row">
		<div class="col col-md-3">

			<img class="w-100 img-fluid m-1" src="~/imagesApp/hamperIndex2.jpg" />
			<img class="w-100 img-fluid m-1" src="~/imagesApp/hamperIndex3.jpg" />
			<img class="w-100 img-fluid m-1" src="~/imagesApp/hamperIndex2.jpg" />
		</div>
		<div class="col col-md border border-dark ">
			<h3>TERMS OF USE</h3>
			<p class="font-italic">
				Rates for individual Hampers range from $10-$20. 
				Bulk Orders are offered at a discounted Bulk Price, please feel free to contact HWB for a quote.
			</p>
		

			

			<div>
				<h5>
					Terms & COonditions
				</h5>
				<ul>
					<li>Bulk Orders – By submitting the Bulk Order Form you mark your acceptance that this is a confirmed order. 
					Your goods will be dispatched and you will be invoiced for payment. If your invoice is outstanding when the goods 
					are delivered, you are legally required to pay for the goods in full or return them at your own cost in the same 
					condition as they were received.</li>
					<li>Gift Hampers (including alcohol) may only be purchased & delivered to persons over the age of 18 years</li>
					<li>Cancellations or alterations to orders must be made at least 48 hours prior to despatch.</li>
					<li>Our merchandise is ordered in advance and we make every effort to have stock available of all items, however, 
					in certain circumstances, an item may not be available. If we are unable to supply an item, we will replace 
					the product with an alternative of equal or greater value.</li>
					<li>Deliveries are made by courier during normal business hours, Monday to Friday. 
					Deliveries are unavailable on weekends or public holidays. Deliveries will, under normal circumstances, 
					be delivered by the date quoted. Occasionally deliveries may be delayed by circumstances beyond our control. 
					Please contact us for further information.</li>
					<li>HWB take responsibility for the Presentation and Content of our Hampers. 
					Deliveries are made by a 3rd party courier, therefore, HWB can only take responsibility for items until they 
					leave our premises. HWB are able to offer tracking numbers and assistance with any delivery matter.</li>
					<li>
						EARLY BIRD Special 2018:
						<p>
							Bulk Orders: Not applicable to amended or discounted hampers unless noted otherwise
							Single Orders: Minimum order of $50 applies. Cannot be used in conjunction with any other offer.
							Not applicable to bulk, ammended or discounted hampers. The $10 amount applies to order as a whole.
							Can only be used once per customer for one order.
						</p>
					</li>
					<li>
						Discount code T&C's
						GRANDEGIFT :  Minimum order of $50 applies. Cannot be used in conjunction with any other offer. 
						Not applicable to bulk, ammended or discounted hampers. The $10 amount applies to order as a whole. 
						Can only be used once per customer.
					</li>
				</ul>

			</div>

			<div>
				<h4>
					OUR GIFT HAMPERS ARE DELIVERED ON TIME, EVERY TIME!
				</h4>
				<p class="font-italic">
					GRANDE GIFT are Australia's Hamper specialist. We have been the number one hamper company 3 years in a row.
				</p>
				<p class="font-italic">
					Hampers are a cost-effective way to reward Staff and Clients.
				</p>
				<p class="font-italic">
					Occasion is just around the corner and Hampers are the perfect gift. 
					Check at out our range of specialty Gift Hampers now!
				</p>

		</div>
	</div>

</div>

